@model demoaspnetcli.Models.Studente
@{
    var pippo = Model.Cognome.Length;
}

@Model.Nome @Model.Cognome @Model.Matricola 
<h3>@pippo</h3>

@section myfooter {
    <footer>
        <p>&copy; 2019 - Blexin S.r.l. da Dettaglio</p>
    </footer>
}